.documents {
  &-wrapper {
    display: flex;
    align-items: center;
    padding: 30px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;

    @media (max-width: 960.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    max-width: 510px;
    margin-right: auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: var(--color-main);

    @media (max-width: 1250.98px)  {
      max-width: 340px;
    }

    @media (max-width: 960.98px) {
      margin-bottom: 20px;
    }

    @media (max-width: 720.98px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__link {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--color-main);
    text-decoration: underline;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 16px;
      height: 17px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_302_2642)'%3E%3Cpath d='M6.39631 9.45269C6.15802 9.28194 5.86655 9.20198 5.57449 9.22723C5.29805 9.22323 5.0218 9.24391 4.74902 9.28904V12.1363H5.35265V11.1036C5.42165 11.1085 5.49093 11.1085 5.55993 11.1036C5.88068 11.1244 6.1964 11.0157 6.43631 10.8018C6.60549 10.6154 6.69437 10.3697 6.68359 10.1182C6.6893 9.8651 6.5844 9.6221 6.39631 9.45269ZM5.65459 10.623C5.62168 10.6243 5.58871 10.6221 5.55627 10.6164L5.57446 10.6127C5.5068 10.6207 5.43846 10.6207 5.37084 10.6127V9.74726C5.45302 9.72798 5.53737 9.71941 5.62174 9.72179C5.92721 9.72179 6.09812 9.88179 6.09812 10.1436C6.10802 10.3985 5.90946 10.6131 5.65459 10.623Z' fill='%23102570'/%3E%3Cpath d='M10.9087 0.5H2.90866C2.10535 0.5 1.4541 1.15122 1.4541 1.95453V15.0454C1.4541 15.8488 2.10532 16.5 2.90863 16.5H13.0904C13.8938 16.5 14.545 15.8488 14.545 15.0454V4.5L10.9087 0.5ZM13.8178 15.0455C13.8178 15.4471 13.4921 15.7727 13.0905 15.7727H2.90866C2.50701 15.7727 2.18138 15.4471 2.18138 15.0455V1.95453C2.18138 1.55287 2.50701 1.22725 2.90866 1.22725H9.45413V4.86363C9.45413 5.26528 9.77973 5.59091 10.1814 5.59091H13.8178L13.8178 15.0455ZM10.1814 4.86363V1.22728H10.545L13.8177 4.86366L10.1814 4.86363Z' fill='%23102570'/%3E%3Cpath d='M8.85795 9.55842C8.54223 9.31958 8.1512 9.20214 7.75613 9.22752C7.47976 9.22558 7.2037 9.24627 6.93066 9.28933V12.1366C7.15966 12.1672 7.39054 12.1818 7.62157 12.1802C8.06641 12.2131 8.50816 12.084 8.8652 11.8166C9.17601 11.5105 9.3391 11.0848 9.31248 10.6493C9.34248 10.2342 9.17382 9.82942 8.85795 9.55842ZM8.66885 10.6493C8.66523 11.3366 8.30523 11.6602 7.75613 11.6566V11.653C7.68601 11.66 7.61535 11.66 7.54523 11.653V9.75845C7.63604 9.73927 7.72879 9.73074 7.8216 9.73299C8.26235 9.70202 8.64473 10.0342 8.6757 10.475C8.67976 10.5331 8.67748 10.5916 8.66885 10.6493Z' fill='%23102570'/%3E%3Cpath d='M9.83984 12.1366H10.4507V10.9766H11.418V10.4457H10.4507V9.78749H11.4871V9.25293H9.83984V12.1366Z' fill='%23102570'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_302_2642'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-left: 40px;

      @media (max-width: 960.98px) {
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }
}